.menuBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  color: #ffffff;
  background-color: #363636;
  border: 1px solid #444444;
  border-radius: 8px;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1px;
  border-bottom: 1px solid #444444;
}

.tabButtonActive,
.tabButtonInactive {
  flex: 1;
  padding: 2px;
  border: none;
  text-align: center;
  font-size:  100%;
  background-color: #ffffff00;
  border-color: #ffffff00;
}

.tabButtonActive {

  color: #ffffff;
  cursor: pointer;
}

.tabButtonInactive {

  color: #888888;
  cursor: pointer;
}


.amountLabel {
  font-weight: bold;
  margin-top:  8px;
  margin-bottom: 2px;
}
.amountInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #444444;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
}

.addressSelector {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #444444;
  border: none;
  border-radius: 4px;
  margin-bottom: 2px;
}

.addressInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #444444;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
}