.menuBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  color: #ffffff;
  background-color: #363636;
  border: 1px solid #444444;
  border-radius: 8px;
  padding: 20px;
}

.actionBox {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1px;
  border-bottom: 1px solid #444444;
}

.tabButtonActive,
.tabButtonInactive {
  flex: 1;
  padding: 2px;
  border: none;
  text-align: center;
  font-size:  100%;
  background-color: #ffffff00;
  border-color: #ffffff00;
}

.tabButtonActive {

  color: #ffffff;
  cursor: pointer;
}

.tabButtonInactive {

  color: #888888;
  cursor: pointer;
}

